.Question-index {
    padding: 10px;
}

.Question-text {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;
    background: #6BC5F0;
}

.questionBox {
    border: 2px solid black;
    margin: 30px;
    text-align: left;
}

.Question-options-elem {
    padding: 5px;
}

.Question-options {
    padding: 10px;
}